@import "tailwindcss";

/* =========================
   DARK MODE VARIANT
========================= */
@custom-variant dark (&:where(.dark, .dark *));


/* =========================
   REUSABLE COMPONENTS
========================= */

@layer components{

  /* primary button */
  .btn-primary{
    @apply bg-amber-500 text-white px-6 py-3 rounded-full
    hover:bg-amber-600 hover:scale-105
    transition duration-300 shadow-md;
  }

  /* secondary button */
  .btn-secondary{
    @apply border border-amber-500 text-amber-700 px-6 py-3
    rounded-full hover:bg-amber-100 transition;
  }

  /* menu card */
  .menu-card{
    @apply bg-white rounded-xl shadow-md overflow-hidden
    hover:shadow-xl hover:-translate-y-2 transition duration-300;
  }

  .menu-img{
    @apply w-full h-44 object-cover;
  }

  .section-title{
    @apply text-3xl md:text-4xl font-bold text-amber-900;
  }

  .section-sub{
    @apply text-gray-500 mt-3;
  }

}


/* =========================
   CUSTOM THEME
========================= */

@theme{
    --color-primary: var(--primary);
    --color-background: var(--background);
    --color-secondary: var(--secondary);
}

/* pastel aesthetic */

:root{
    --primary : #b45309;
    --background : #fffaf5;
    --secondary : #fde8d0;
}

/* global */

body{
    background: var(--background);
}